@import url(./assets/fontawesome.min.css);
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(./assets/bootstrap.min.css);
@import url(./assets/style.css);

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;500;600;700&display=swap');

.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}

.leaflet-container {
  width: 100%;
  height: 500px;
}

.zi-100000 {
  z-index: 1000 !important;
}

.leaflet-top,.leaflet-left {
  z-index: 999 !important;
}